body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Disable Bootstrap .toast without touching PrimeReactToast */
body .toast,
body .toast * {
  all: unset !important;
}

/* Disable Bootstrap .fade & .show ONLY when used with .toast */
body .toast.fade,
body .toast.show {
  all: unset !important;
}
